@use "../../variable.module.scss";

.dayDetailCard {
  margin: 50px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  justify-content: space-around;
  height: 232px;
  flex: 0 0 148px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.17);
  .day {
    width: 98px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 33px;
    text-align: center;
  }
  .temperature {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 55px;
    text-align: center;
  }
}
