@use "../../variable.module.scss";
@import "../../variable.module.scss";

.home {
  overflow: auto;
  padding: $mobile-lateral-space;
  height: 100vh;
  padding-bottom: $mobile-bottom-space;
}

.cityCards {
  width: 100%;
}

.greeting {
  color: #01175f;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 42px;
  text-align: center;
  padding-bottom: 48px;
}

.addCity {
  color: #01175f;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
  padding-bottom: 28px;
}
// ------------------------------------- Desktop rules -------------------------------------
@media screen and (min-width: 992px) {
  .home {
    color: #01175f;
    padding: $desk-bottom-space;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    .desktopHome {
      width: 100vw;
      padding: 0 50px;
    }
    .topPart {
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .detailCityCard {
        height: 440px;
        flex: 2;
        border-radius: 25px;
        box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.17);
        background-color: #d8d8d8;
        display: flex;
        align-items: center;
        .cityName,
        .cityDate,
        .cityWeather {
          color: #01175f;
        }
        .cityDate {
          margin: 25px 0;
        }
        .weatherCard {
          display: flex;
          height: 280px;
          width: 140px;
          border-radius: 0 25px 25px 0;
          box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.17);
          color: #ffffff;
          margin-left: -50px;
          font-size: 50px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 76px;
          text-align: right;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      .citiesListCard {
        height: 440px;
        width: 424px;
        overflow: scroll;
        margin-left: 50px;
      }
    }
    .bottomPart {
      display: flex;
      padding-top: 15px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .daysDetail {
        height: 464px;
        width: 564px;
        .weekDetail {
          // height: 464px;
          width: 564px;
          border-radius: 0 35px 35px 35px;
          background: linear-gradient(150deg, #5374e7 0%, #77b9f5 100%);
          box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.17);
          display: flex;
          overflow: scroll;
          .detailCardPagination {
            display: flex;
            align-items: center;
            justify-content: space-around;  
          }
        }
      }
      .hoursDetail {
        height: 464px;
        width: 302px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 42px;
        .hoursPoint {
          padding-top: 65px;
          color: #ffffff;
          height: 385px;
          width: 302px;
          border-radius: 35px;
          background: linear-gradient(150deg, #5374e7 0%, #77b9f5 100%);
          box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.17);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: start;
          overflow: scroll;
        }
      }
    }
  }
}
.citiesListCard::-webkit-scrollbar,
.hoursPoint::-webkit-scrollbar,
.weekDetail::-webkit-scrollbar {
  display: none;
}
