.cityCards {
  width: 100%;
}

.greeting {
  color: #01175f;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 42px;
  text-align: center;
  padding-bottom: 48px;
}

.addCity {
  color: #01175f;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
  padding-bottom: 28px;
}
