@use "../../variable.module.scss";

.customCard {
  height: 140px;
  border-radius: 25px;
  color: white;
  margin: 10px 0;
  box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.17);

  .cardInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .time {
      height: 17px;
      width: 60px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 18px;
      margin-top: 6px;
    }
    .day {
      width: 98px;
    }
    .temperature {
      color: #ffffff;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 76px;
      text-align: right;
    }
  }
}
