@use "../../variable.module.scss";
@import "../../variable.module.scss";

.cityDetail {
  padding: $mobile-lateral-space;
  height: 100vh;
  color: #ffffff;
  padding-bottom: $mobile-bottom-space;
  overflow: auto;
}
.topBarCityDetail {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  .cityName {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
  }
}
.cityDate{
  margin: 0.5rem 0;

}

.weatherDetail {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
}

.temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 110px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 166px;
  text-align: right;
}

.daysContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
