// ------------------------------------ general ------------------------------------
$mobile-lateral-space: 0px 5%;
$mobile-bottom-space: 100px;
$desk-bottom-space: 50px;
// ------------------------------------ weather ------------------------------------
$cloudy-bg: linear-gradient(150deg, #464c64 0%, #99a9b9 100%);
$cloudy-img: url("./weatherIcons/cloud.png");
$sunny-bg: linear-gradient(150deg, #5374e7 0%, #77b9f5 100%);
$sunny-img: url("./weatherIcons/sunny.png");
$rainy-bg: linear-gradient(150deg, #011354 0%, #5b9fe3 100%);
$rainy-img: url("./weatherIcons/sunnyRain.png");

.Clouds {
  background: $cloudy-bg;
  .icon {
    height: 103px;
    width: 90px;
    background-image: $cloudy-img;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.Clear {
  background: $sunny-bg;
  .icon {
    height: 103px;
    width: 90px;
    background-image: $sunny-img;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.Rain {
  background: $rainy-bg;
  .icon {
    height: 103px;
    width: 90px;
    background-image: $rainy-img;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.cityName {
  height: 36px;
  // width: 110px;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 39px;
  text-align: start;
}

.day {
  height: 36px;
  width: 98px;
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  text-align: left;
}
